In [ ]:
# print a one dimensional array
import pandas as pd
ser_a = ['a','b','c','d','e','f']
ser_b = [1,2,3,4,5,6]
oned_array = pd.Series(ser_b, index=ser_a)
oned_array

In [5]:
# Convert pandas seried to list
oned_list = oned_array.to_list()
oned_list

[1, 2, 3, 4, 5, 6]

In [ ]:
# Function for adding, subtracting, multiplying or dividing series
series_1 = pd.Series([1, 2, 3, 4, 5])
series_2 = pd.Series([5, 4, 3, 2, 1])

def df_func(ser_a, ser_b, act_ser):
    if act_ser == 'add':
        print(series_1.add(series_2))
    elif act_ser == 'sub':
        print(series_1.sub(series_2))
    elif act_ser == 'mul':
        print(series_1.mul(series_2))
    elif act_ser == 'div':
        print(series_1.div(series_2))

df_func(series_1, series_2, 'div')

In [ ]:
# Comparing 2 series
series_1.compare(series_2)

In [ ]:
# Create series from a dictionary
sample_dict = {'a':1, 'b':2, 'c':3, 'd':4}
dict_ser = pd.Series(sample_dict)
dict_ser

In [40]:
# Convert Numpy arrray to a series
import numpy as np
np_array = np.random.randint(8, size=5)
# np_array
ser_np = pd.Series(np_array)
ser_np

0    5
1    7
2    5
3    6
4    4
dtype: int32

In [80]:
# Changing column data type from string to integer and return string as 'NaN'
list_1 = [100, 200, 'python', 300.12, 400]
l_ser = pd.Series(list_1)
# l_ser.dtype
# l_ser.astype(int, errors='ignore')
# l_ser.convert_dtypes(convert_integer=True, convert_string=False)
# l_ser.astype('Float32', errors='coerce')
upd_ser = pd.to_numeric(l_ser, errors='coerce')
upd_ser

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [78]:
# Generate series from a dataframe
import random as rdm
# df_1 = pd.DataFrame({'col_1' : [1,2,3,4,7,11], 'col_2':[4,5,6,9,5,0], 'col_3':[7,5,8,12,1,11]})
# df_1
def generat_list(count_1: int):
    rand_list = []
    for i in range(0,count_1):
        rand_list.append(rdm.randint(1,9))
    return rand_list
df_1 = pd.DataFrame({'col_1' : generat_list(5), 'col_2': generat_list(5), 'col_3': generat_list(5)})
df_1['col_1']

pandas.core.frame.DataFrame

In [83]:
# Converting given series to a numpy array
l_ser.array

<NumpyExtensionArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object

In [97]:
# Convert a series of lists to a list
list_1 = ['Red', 'Green', 'White']
list_2 = ['Red', 'Black']
list_3 = ['Yellow']
ser_list = pd.Series([list_1,list_2,list_3])
# ser_list
# ser_list.explode()
ser_list.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object